a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

a.publicationEnavigation {
    color: rgb(15,20,25);
    line-height: 50px;
    padding-left: 2%;
}

a.flex{
    display: flex;
}

a.left {
    padding-left: 1%;
    line-height: 30px;
}


a.publicationEnavigation:hover {
    background-color: rgba(15,25,20,0.1);
    border-radius: 25px;
}

.estatistic {
    color: rgb(15,20,25);
    font: bold;
    padding-left: 1%;
}

a.letras {
    color: rgb(83, 100, 113);
    font-family:sans-serif;
}

span.letras {
    color: rgb(83, 100, 113);
    font-family:sans-serif;
}

.actions {
    padding-left: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
}

a.actions {
    color: rgb(83, 100, 113);
}

.tzeet:hover {
    background-color: rgba(249, 24, 128, 0.1);
}

a.joined {
    color: rgb(83, 100, 113);
}

img.size {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

a.under:hover {
    text-decoration: underline;
}

p,h2,h4 {
    padding-left: 1%;
}

#colorBlue:hover {
    background-color: rgba(29, 155, 240, 0.1);
    color: rgba(29, 155, 240, 1);
    border-radius: 25;
    text-decoration: underline;
}

#colorGreen:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
    border-radius: 25px;
    text-decoration: underline;
}

#colorRed:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
    border-radius: 25px;
    text-decoration: underline;
}

.nome {
    color: rgb(15, 20, 25);
}

.arroba {
    color: rgb(83, 100, 113);
}

.bio {
    color: rgb(15, 20, 25);
}